<ul>
	<li><a href="{% url 'dashboard' %}">Dashboard</a></li>

	{% if user.is_admin %}
	<li class="dropdown" id="users">Users <i class="fa fa-caret-down fa-1" aria-hidden="true"></i></li>
	<li class="sidebar-drop-down">
		<ul aria-labelledby="users">
			<li><a href="{% url 'all_users' %}">All Users</a></li>
			<li><a href="{% url 'all_tutors' %}">Programme Tutors</a></li>
			<li><a href="{% url 'all_reviewers' %}">Module Reviewers</a></li>
		</ul>
	</li>
	<li><a href="{% url 'all_modules' %}">Modules</a></li>
	<li class="dropdown" id="forms">Forms <i class="fa fa-caret-down fa-1" aria-hidden="true"></i></li>
	<li class="sidebar-drop-down">
		<ul aria-labelledby="forms">
			<li><a href="{% url 'module_description_form_structure' %}">Module Description</a></li>
		</ul>
	</li>
	<li class="dropdown" id="data">Datasets <i class="fa fa-caret-down fa-1" aria-hidden="true"></i></li>
	<li class="sidebar-drop-down">
		<ul aria-labelledby="data">
			<li><a href="{% url 'labSheetView' %}">Lab Organisation Sheet</a></li>
			<li><a href="{% url 'ModuleSheetView' %}">Module Summary Sheet</a></li>
		</ul>
	</li>
	{% endif %}

	{% if user.is_module_leader %}
	<li><a href="{% url 'module_leader_modules' %}">Your Modules</a></li>
	{% endif %}
</ul>
