{% extends 'core/base.html' %}
{% load static %}

{% block body %}
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="{% url 'dashboard' %}">Module Summary</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	   	 	<span class="navbar-toggler-icon"></span>
  		</button>

      
  		<div class="collapse navbar-collapse">
  			<ul class="navbar-nav ml-auto">
  				<li class="nav-item">
  					<a class="nav-link disabled" href="#">Logged in: {{ request.session.username }}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="User Settings" href="{% url 'user_settings' request.session.username %}">
                <i class="fa fa-cog fa-2" aria-hidden="true"></i>
              </a>
          </li>
  				<li class="nav-item">
  					<a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
  				</li>
  			</ul>
  		</div>
	</nav>

<div class="container-fluid h-100">
  
    <div class="row h-100">
      <div class="col-2" id="sidebar-col">
        <div class="sidebar">
          <div class="sidebar-inner">
            {% block sidebar %}
              {% if user.is_admin %}
                {% include "core/sidebars/admin_sidebar.html" %}
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
      <div class="col offset-md-2" id="main">
            {% block main %}
            {% endblock %}
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'core/js/sidebar.js' %}"></script>

  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
{% endblock %}