{% extends 'core/main.html' %}
{% load core_tags %}

{% block title %}
	{% if form_type == 'Create' %}
		New Module
	{% else %}
		{{ object.pk }}
	{% endif %}
{% endblock %}

{% block main %}
<div class="row">
	<div class="col-md-12">
		{% if form_type == 'Create' %}
			<h1>New Module</h1>
		{% else %}
			<h1>{{ object.pk }} - {{ object.module_name }}</h1>
		{% endif %}
		<form action="{{ form_url }}" method="POST">
			{% csrf_token %}
			{% for field in form %}
				<div class="form-group">
					{{ field.label_tag }} 
					{% if field.name in changes %}
						{{ field|readonly_add_css_class:"form-control" }}
						<ul>
							<li>{{ field.label }} needs to be commited on timeline.</li>
						</ul>
					{% else %}
						{{ field|add_css_class:"form-control" }}
					{% endif %}
					{{ field.errors }}
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">{{ form_type }}</button>
			<a href="{% url 'all_modules'%}" class="btn btn-danger">Cancel</a>
		</form>
	</div>
</div>
{% endblock %}