{% extends 'core/main.html' %}
{% load core_tags %}

{% block title %}
	Year Tutors 
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-12">	
			{% if form_type == 'Create' %}
				<h1>New Tutor</h1>
			{% else %}
				<h1>Updating Tutor {{ object.get_tutor_name }}</h1><hr>
				<h4>{{ object.programme_name }} - {{ object.tutor_year }}</h4><br>
			{% endif %}
			<form id="form" data-url="{% url 'ajax_tutor_modules' %}" action="{{ form_url }}" method="POST">
				{% csrf_token %}


				{% for f in form %}
					{% if forloop.counter0 < form_range %}
						<div class="form-group">
						<label for="{{ f.id_for_label }}">{{ f.label }}</label>
						{{ f|add_css_class:"form-control" }}
						{{ f.errors }}
					</div>
					{% endif %}
				{% endfor %}

				{{ form.modules.label_tag }}
				{{ form.modules }}
				{{ form.modules.errors }}

				<button type="submit" class="btn btn-primary">{{ form_type }}</button>
				<a href="{% url 'all_tutors' %}" class="btn btn-danger">Cancel</a>
			</form>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript">
		jQuery(function($){
			$('#id_tutor_year').change( function(){
				var year = $(this).val();
				var url = $('#form').attr('data-url');

				$.ajax({
					url: url,
					data: {
						'year': year,
					},
					success: function(data) {
						$('#id_modules').html(data);
					}
				});
			});
		});
	</script>
{% endblock %}
