{% extends 'core/main.html' %}
{% load core_tags %}

{% block title %}
	Module Reviewers 
{% endblock %}

{% block main %}
	<div class="row">
		<div class="col-md-12">	
			<h1>New Module Reviewer</h1>
			<form action="{{ form_url }}" method="POST">
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						{{ field.label_tag }} 
						{{ field|add_css_class:"form-control" }}
						<p>{{ field.errors.as_text }}</p>
					</div>
				{% endfor %}
				{{ form.non_field_errors }}
				<button type="submit" class="btn btn-sm btn-primary">Create</button>
				<a href="{% url 'all_reviewers' %}" class="btn btn-danger">Cancel</a>
			</form>
		</div>
	</div>
{% endblock %}
