{% extends 'core/main.html' %}
	
{% block main %}
	<div class="row">
		<div class="col-md-12">
			<h1>Permissions for {{ user.username }}</h1>

			<form action="{% url 'edit_user' user.pk %}" method="POST">
				{% csrf_token %}

				{% for f in form %}
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ f }}
		    			{{ f.label }}
		    			{{ f.errors }}
		  			</label>
				</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary">Update</button>
				<a href="{% url 'all_users' %}" class="btn btn-danger">Cancel</a>
						
			</form>
		</div>
	</div>
{% endblock %}