{% extends 'core/main.html' %}
	
{% block main %}
	<div class="row justify-content-center">
		<div class="col-md-12">
			<h1>Permissions for {{ user.username }}</h1>
		</div>
		<div class="col-md-6 align-self-center">
			<form action="{% url 'edit_user' user.pk %}" method="POST">
				{% csrf_token %}
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_module_leader}}
		    			{{ form.is_module_leader.label }}
		  			</label>
				</div>
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_office_admin}}
		    			{{ form.is_office_admin.label }}
		  			</label>
				</div>
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_year_tutor}}
		    			{{ form.is_year_tutor.label }}
		  			</label>
				</div>
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_admin }}
		    			{{ form.is_admin.label }}
		  			</label>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a href="{% url 'all_users' %}" class="btn btn-danger btn-half">Cancel</a>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-half">Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}