{% extends 'core/main.html' %}
	
{% block main %}
	<div class="row">
		<div class="col-md-12">
			<form action="{% url 'edit_user' user.pk %}" method="POST">
				{% csrf_token %}
				<h3>User information</h3><hr>
				<div class="form-group">
					<label class="{{ form.username.name }}">{{ form.username.label }}</label>
					{{ form.username }}
				</div>
				<div class="form-group">
					<label class="{{ form.email.name }}">{{ form.email.label }}</label>
					{{ form.email }}
				</div>
				<div class="form-group">
					<label class="{{ form.first_name.name }}">{{ form.first_name.label }}</label>
					{{ form.first_name }}
				</div>
				<div class="form-group">
					<label class="{{ form.last_name.name }}">{{ form.last_name.label }}</label>
					{{ form.last_name }}
				</div>
				
				<br><h3>Permissions</h3><hr>
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_module_leader}}
		    			{{ form.is_module_leader.label }}
		  			</label>
				</div>
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_office_admin}}
		    			{{ form.is_office_admin.label }}
		  			</label>
				</div>
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_year_tutor}}
		    			{{ form.is_year_tutor.label }}
		  			</label>
				</div>
				<div class="form-check">
		  			<label class="form-check-label">
		    			{{ form.is_admin}}
		    			{{ form.is_admin.label }}
		  			</label>
				</div>
				<button type="submit" class="btn btn-primary">Update</button>
			</form>
		</div>
	</div>
{% endblock %}