html, body{
	background-color: #76b852;
}

.text-center{
	text-align: center;
}

.centered{
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
}

#login-form{
	box-shadow: 0px 0px 23px 4px #666666;
	background-color: #fff;
	padding: 25px 20px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

#login-form button{
	width: 100%;
	padding: 10px 10px;
	font-size: 20px;
}

.btn-half{
	margin-top: 2em;
	width: 100%;
}
