html, body{
	background-color: #d9e0e7;
	height: 100%;
}

body{
	padding-top: 3.5em;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.navbar{
	border-bottom: 3px solid #4d4d4d;
}

.container-fluid{
  padding-left: 0px;
}

.text-center{
	text-align: center;
}

.centered{
	position: fixed;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
}

#main{
	padding-top: 20px;
}

h1 {
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 20px;
}

h1 > .h-sub-action{
	font-size: 15px;
	margin-left: 20px;
}

/* login styles */

#login-form{
	box-shadow: 0px 0px 23px 4px #666666;
	background-color: #fff;
	padding: 25px 20px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

#login-form button{
	width: 100%;
	padding: 10px 10px;
	font-size: 20px;
}

/* end of login styles */

.btn-half{
	margin-top: 2em;
	width: 100%;
}

/* Sidebar styles */
#sidebar-col{
  height: 100%;
  background-color: #4d4d4d;
  position: fixed;
  padding-right: 0px;
}

.sidebar-inner ul{
  list-style: none;
  padding: 0;
}

.sidebar-inner ul li a,
.dropdown{
	cursor: pointer;
  text-decoration: none;
  display: block;
  color: #fff;
  position: relative;
  padding: 10px 20px;
  height: 50px;
  border-bottom: 1px solid #333333;
}

.sidebar-inner ul li a:hover, 
.dropdown:hover{
  background-color: #333333;
}

.sidebar-drop-down ul{
	background-color: #000;
	display: none;
}

.p-msg{
	font-size: 20px;
}