{% extends 'core/main.html' %}

{% block title %}
	Notifications
{% endblock %}

{% block main %}
	
	<div class="row">
		<div class="col-md-10 offset-md-1">
			 <ul class="nav nav-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="unread" data-toggle="tab" href="#unread" role="tab" aria-controls="unread" aria-selected="true">
						<i class="fa fa-bell" aria-hidden="true"></i>
						<span style="margin-left: 1px;">Notifications</span>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="unread" role="tabpanel" aria-labelledby="unread">

					<div class="row">
  						<div class="col-4">
						    <div class="list-group" id="list-tab" role="tablist">
						     	<a class="list-group-item list-group-item-action active" id="list-unread-list" data-toggle="list" href="#list-unread" role="tab" aria-controls="unread">
						     		Unread
						     	</a>
						      	<a class="list-group-item list-group-item-action" id="list-all-list" data-toggle="list" href="#list-all" role="tab" aria-controls="all">All Notifications</a>
						  	</div>
						</div>
						<div class="col-8">
    						<div class="tab-content" id="nav-tabContent">
      						<div class="tab-pane fade show active" id="list-unread" role="tabpanel" aria-labelledby="list-unread-list">
      							<ul class="list-group">
      								{% for o in unseen %}
      									<li class="list-group-item">
      										<a href="{% url 'notification_redirect' o.id %}">{{ o.content }}</a>
      									</li>
      								{% endfor %}
      							</ul>
      						</div>
      						<div class="tab-pane fade" id="list-all" role="tabpanel" aria-labelledby="list-all-list">
      							<ul class="list-group">
      								{% for o in all %}
      									{% if o.seen %}
      										<li class="list-group-item list-group-item-dark">
      											<a href="{{ o.link }}">{{ o.content }}</a>
      										</li>
      									{% else %}
      										<li class="list-group-item">
      											<a href="{% url 'notification_redirect' o.id %}">{{ o.content }}</a>
      										</li>
      									{% endif %}
      								{% endfor %}
      							</ul>
      						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style type="text/css">
		
	</style>
{% endblock %}