{% extends 'core/main.html' %}
{% load mptt_tags %}
{% load humanize %}
{% load timeline_tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'timeline/styles.css' %}">
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-12">
        <div class="timeline-entry-local entry-update">
            <div class="timeline-header">
                <h5>
                    <i>{{ entry.title }}</i> 
                    <time>{{ entry.created|date:"SHORT_DATE_FORMAT" }}</time>
                </h5>
            </div>
            <div class="entry-{{ entry.status|lower }}">
                <div class="timeline-content">
                    {% autoescape off %}
                        {{ entry.changes|covert_markdown }}
                    {% endautoescape %}                          
                </div>
                <div class="timeline-actions">
                    <div class="timeline-meta">
                        <span>Approved By: Ryan</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="discussion-container">
            <ul class="discussion-root">
            {% recursetree discussion %}
                <li class="discussion-comment">
                    <div class="comment-header">
                        <span class="comment-user"><a href="#">{{ node.author_username }}</a></span>
                        <span class="comment-time"> {{ node.created|naturaltime }}</span>
                    </div>
                    <div class="comment-content">
                        {% autoescape off %}
                        {{ node.comment|covert_markdown }}
                        {% endautoescape %}
                    </div>
                    <div class="comment-options">
                        <button class="reply" data-for="{{ node.created|date:'U' }}"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
                    </div>
                </li>
                <li id="{{ node.created|date:'U' }}" class="discussion-comment discussion-reply-form">
                     <form action="{% url 'discussion' module_code entry_id %}" method="POST" id="{{ node.created|date:'U' }}">
                            {% csrf_token %}
                            {{ form.comment }} 

                            {% if node.level > 1 %}
                                <input type="hidden" name="parent" value="{{ node.parent.id }}">
                            {% else %}
                                <input type="hidden" name="parent" value="{{ node.id }}">
                            {% endif %}
                            <button type="submit" class="btn btn-success btn-sm">Reply</button>
                        </form>
                </li>

                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %} 
            {% endrecursetree %}
            </ul>
        </div>
        <div class="comment-form">
            <form action="{% url 'discussion' module_code entry_id %}" method="POST">
                {% csrf_token %}
                <div id="reply-textarea" class="form-group">
                    {{ form.comment.label_tag }}
                    {{ form.comment }} 
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'timeline/js/discussions.js' %}"></script>
{% endblock %}