{% extends 'core/main.html' %}
{% load timeline_tags %}
{% load static %}


{% block title %}
	{{ module_code }} Timeline
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'timeline/styles.css' %}">
{% endblock %}

{% block main %}
	<h1 class="timeline-title">
		Timeline of changes for {{ module_code }}
	</h1>
	{% if object_list|length < 1 %}
		<p>No timeline is present for this module</p>
	{% else %}
		<section class="timeline">
			
			{% if page_obj.has_previous %}
				<div class="timeline-pageination">
					<a href="?page={{ page_obj.previous_page_number }}">
						<i class="fa fa-chevron-up " aria-hidden="true"></i>
					</a>
				</div>
			{% endif %}
			
			<ul>
				{% for entry in object_list %}
					<li class="timeline-item">
						<div class="timeline-entry entry-{{ entry.entry_type|lower }}">
							<div class="timeline-header">
								<h5>
									<i>{{ entry.title }}</i> <time>{{ entry.created|date:"SHORT_DATE_FORMAT" }}</time>
								</h5>
							</div>
							<div class="entry-{{ entry.status|lower }}">
								<div class="timeline-content">
									<p>The following changes were made by: {{ entry.requester_username }}</p>									
									{% autoescape off %}
									{{ entry.changes|covert_markdown }}
									{% endautoescape %}
								</div>
								<div class="timeline-actions">
									{% if entry.entry_type == "Tracking-Form" %}
										<a class="btn btn-info btn-sm" href="{% url 'changes' module_code entry.pk %}">See Changes</a>

										{% if entry.status != 'Confirmed' %}
										<form action="{% url 'approve_entry' module_code entry.pk %}" style="display: inline;" method="POST">
											{% csrf_token %}
											<button class="btn btn-sm btn-success" type="submit">Confirm</button>
										</form>
										{% endif %}

										
										{% if entry.status != 'Confirmed' %}
										<form action="{% url 'revert_entry' module_code entry.pk %}" method="POST" style="display: inline;">
											{% csrf_token %}
											<button class="btn btn-sm btn-danger">Cancel</button>
										</form>
										{% endif %}

									{% endif %}

									{% if entry.entry_type == 'Module-Description' %}
										<a href="{% url 'view_archive_module_description' module_code entry.object_id %}" class="btn btn-sm btn-info">See Module Description</a>
									{% endif %}

									<div class="timeline-meta">
										{% if entry.status != "Draft" %}
											{% if entry.approved_by is None %}
												<span>Approved By: System</span>
											{% else %}
												<span>Approved By: {{ entry.approver_username }}</span>
											{% endif %}
											{% else %}
												<span>Not approved</span>
										{% endif %}
										<span class="timeline-comments">
											<a href="{% url 'discussion' module_code entry.pk %}">
												<i class="fa fa-comments" aria-hidden="true"></i>
												{{ entry.id|entry_comments }}
											</a>
										</span>
									</div>
								</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
			
			{% if page_obj.has_next %}
				<div class="timeline-pageination">
					<a href="?page={{ page_obj.next_page_number }}">
						<i class="fa fa-chevron-down" aria-hidden="true"></i>
					</a>
				</div>
			{% endif %}

		</section>
	{% endif %}
{% endblock %}