{% extends 'core/main.html' %}
{% load mptt_tags %}
{% load humanize %}
{% load timeline_tags %}
{% load static %}

{% block title %}
    Discussion
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'timeline/styles.css' %}">
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-12">

        <a href="{% url 'module_timeline' module_code %}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back to Timeline
        </a>

        <div class="timeline-entry-local entry-update">
            <div class="timeline-header">
                <h5>
                    <i>{{ entry.title }}</i> 
                    <time>{{ entry.created|date:"SHORT_DATE_FORMAT" }}</time>
                </h5>
            </div>
            <div class="entry-{{ entry.status|lower }}">
                <div class="timeline-content">
                    {% autoescape off %}
                        {{ entry.changes|covert_markdown }}
                    {% endautoescape %}                          
                </div>
                <div class="timeline-actions">
                    <div class="timeline-meta">
                        <span>Approved By: Ryan</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>

<div class="row">
    <div class="col-md-12">
        <div class="discussion-container">
            <ul class="discussion-root">
            {% if discussion.count > 0 %}
                {% recursetree discussion %}
                    <li class="discussion-comment user-comment">
                        <div class="comment-header">
                            <span class="comment-user">
                                <a href="#">{{ node.author_username }}</a>
                            </span>
                            <span class="comment-time"> {{ node.created|naturaltime }}</span>
                        </div>
                        <div class="comment-content">
                            {% autoescape off %}
                            {{ node.comment|covert_markdown }}
                            {% endautoescape %}
                        </div>
                        {% if node.level < 2 %}
                        <div class="comment-options">
                            <button class="reply" data-for="{{ node.created|date:'U' }}"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
                        </div>
                        {% endif %}
                    </li>

                    {% if node.level < 2 %}
                    <li id="{{ node.created|date:'U' }}" class="discussion-comment discussion-reply-form">
                        <form action="{% url 'discussion' module_code entry_id %}" method="POST" id="{{ node.created|date:'U' }}" data-level="{{ node.level }}">
                            {% csrf_token %}
                            {{ form.comment }} 
                            <input type="hidden" name="parent" value="{{ node.id }}">
                            <button type="submit" class="btn btn-success btn-sm btn-reply">Reply</button>
                        </form>
                    </li>
                    {% endif %}

                    {% if not node.is_leaf_node %}
                        <ul class="discussion-responses">
                            {{ children }}
                        </ul>
                    {% endif %} 
                {% endrecursetree %}
                </ul>
            {% else %}
                <p id="no-comments-msg">There is no active discussion for this entry. You can start one now!</p>
            {% endif %}
        </div>
        <div class="comment-form">
            <form action="{% url 'discussion' module_code entry_id %}" method="POST">
                {% csrf_token %}
                <div id="reply-textarea" class="form-group">
                    {{ form.comment.label_tag }}
                    {{ form.comment }} 
                </div>
                <button id="post-comment" type="submit" class="btn btn-success">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'timeline/js/csrf_ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'timeline/js/discussions.js' %}"></script>
{% endblock %}