.timeline-pageination {
	text-align: center;
	margin: 0 auto;
	position: relative;
	left: 19px;
	width: 20%;
	margin-bottom: 1%;
	bottom: 20px;
}

.timeline-pageination a,
.timeline-pageination a:link,
.timeline-pageination a:visited {
	color: #fff;
	font-size: 5em;
}

.timeline-pageination a:hover,
.timeline-pageination a:active {
	color: #ff8080;
}


/* timeline styling */
.timeline-title {
	text-align: center;
	border-bottom: 2px dashed black;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 20px 0;
	position: relative;
}

.timeline ul > .timeline-item {
	list-style-type: none;
	position: relative;
	width: 19px;
	height: auto;
	min-height: 250px;
	margin: 0 auto;
	padding-top: 50px;
	background: #fff;
	border-left: 2px solid #ff8080;
	border-right: 2px solid #ff8080;
}

.timeline ul > .timeline-item:after {
	content: '';
	position: absolute;
	bottom: 60%;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 4px solid #ff8080;
	background-color: inherit;
}

.timeline ul > .timeline-item:last-child{
	height: 100px;
}

.timeline ul > .timeline-item:last-child {	
	height: 500px;
}

.timeline ul > .timeline-item:last-child:after{
	bottom: 80%;
}

.timeline ul > .timeline-item .timeline-entry {
	position: relative;
	width: 500px;
	transform: translateX(10%);
	background-color: #fcfcfc;
	border-radius: 10px;
	-webkit-box-shadow: 12px 11px 32px -1px rgba(77,77,77,1);
	-moz-box-shadow: 12px 11px 32px -1px rgba(77,77,77,1);
	box-shadow: 12px 11px 32px -1px rgba(77,77,77,1);
}

.timeline ul > .timeline-item .timeline-entry:before{
	content: '';
	position: absolute;
	width: 0;
	height: 10px;
	margin-top: 7px;
	right: 100%;
	border: solid 15px transparent;
	border-right-color: #ff8080;
}

.timeline ul > .timeline-item:nth-child(odd) .timeline-entry:before{
	right: 0;
	left: 100%;
	border-left-color: #ff8080;
	border-right-color: transparent;
}

.timeline ul > .timeline-item:nth-child(odd) .timeline-entry {
	transform: translateX(-107%);
	-webkit-box-shadow: -6px 10px 33px -1px rgba(77,77,77,1);
	-moz-box-shadow: -6px 10px 33px -1px rgba(77,77,77,1);
	box-shadow: -6px 10px 33px -1px rgba(77,77,77,1);
}

.timeline ul > .timeline-item .timeline-entry .timeline-header {
	background-color: #ff8080;
	width: 100%;
	padding: 6px 10px 1px 10px;
}

.timeline ul > .timeline-item .timeline-entry .timeline-header h5 {
	font-size: 25px;
}

.timeline ul > .timeline-item .timeline-entry .timeline-header h5 time {
	top: 5px;
	font-size: 10px;
	position: relative;
	float: right;
}

.timeline ul > .timeline-item .timeline-entry .timeline-content {
	padding: 10px 20px;
}

