<div class="card">
    <div class="card-header">
        Admin Tools
    </div>
    <ul class="list-group list-group-flush">  
        <li class="list-group-item" style="height: 35px; padding: 5px 15px;">
            <a href="{% url 'all_users' %}">View All Users</a>
        </li>
        <li class="list-group-item" style="height: 35px; padding: 5px 15px;">
            <a href="{% url 'module_description_form_structure' %}">View/Edit Modile Description Structure</a>
        </li>
    </ul>
</div>