{% extends 'core/main.html' %}
{% load core_tags %}
{% load static %}

{% block title %}
    Form Structure
{% endblock %}

{% block main %}
<h2 class="text-center">Module Description Form Structure</h2>

{% if not form_exists %}
    There doesn't seem to be an existing module description form in the database. 
    <a href="{% url 'change_module_description_structure' %}">Create one.</a>
{% else %}

<p class="text-center mb-0">Form Iteration <b>{{ form_version.pk }}</b> (<a href="#" data-toggle="modal" data-target="#olderVersionsModal">view an older version</a>)</p>
<p class="text-center mb-0">Created: <b>{{ form_version.creation_date }}</b></p> 
<div class="col-md-2 mx-auto px-0"><a href="{% url 'change_module_description_structure' %}" class="btn btn-primary btn-sm">Update Form Structure</a></div>

<hr>
{% for field in form_fields %}
<div class="card">
<div class="card-body">
    {% with "field_entity_"|addstr:field.entity_id as form_preview_id %}
    <form action="" method="">
        {% with form_preview|get:form_preview_id as form_preview_field %}
        <div class="form-group mb-0">
            <label for="{{form_preview_field.id_for_label}}">{{form_preview_field.label}}</label>
			{% if form_preview_field|widget_type == 'RadioSelect' %} 
			</div><div class="form-group mb-0">
				<!-- We render the elements manually if it isn't a textual input/select -->
				<!-- The radio boxes are contained within their own row to avoid inline problems -->
				{% for radio in form_preview_field %}
				<div class="form-check form-check-inline">
				<label for="{{ radio.id_for_label }}" class="form-check-label">
					{{ radio.tag }} {{ radio.choice_label }}
				</label>
				</div>
				{% endfor %}
			{% else %}
			{{ form_preview_field }}
			{% endif %}
        </div>
        {% endwith %}
    </form>
    {% endwith %}
    {% if field.entity_required%}
    <span class="badge badge-secondary">Required</span>
    {% else %}
    <span class="badge badge-secondary">Optional</span>
    {% endif %}
    <span class="badge badge-secondary">{{field.entity_type}}</span>
    <span class="badge badge-secondary">max-length: {{field.entity_max_length}}</span>

</div>
</div>
{% endfor %}

<div class="modal fade" id="olderVersionsModal" tabindex="-1" role="dialog" aria-labelledby="olderVersionsModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="olderVersionsModalLabel">Please choose an older version</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <ul class="list-group list-group-flush">
            {% for version in all_versions %}
            <a href="{% url 'old_module_description_form_structure' version.pk %}" class="list-group-item py-1 {% if version.pk == form_version.pk %} active {% endif %}" >
                v{{ version.module_description_version }}:  {{ version.creation_date }}
            </a>
            {% endfor %}
        </ul>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>

{% endif %}
{% endblock %}