{% extends 'core/main.html' %}
{% load core_tags %}

{% block title %}
    {{ object.pk }}
{% endblock %}

{% block main %}

<!-- Really basic placeholder. -->
<div class="row">
	<ul class="nav nav-pills">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				Tracking Form
			</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'view_module_description' pk=object.pk %}">Module Description</a>
				<a class="dropdown-item active" href="#">Tracking Form</a>
			</div>
			<!--<a class="nav-link active" href="{% url 'view_module_description' pk=object.pk %}">View</a>-->
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">New Tracking Form</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Submit</a>
		</li>
	</ul>
</div>

<div class="row">
	<div class="col-md-12">
		<h1>{{ object.module_name }}</h1>
		<ul>
			<li>Module Code: {{ object.module_code }}</li>
			<li>Number of Credits: {{ object.module_credits }}</li>
			<li>Level: {{ object.module_level }}</li>
			<li>Module Leader: {{ object.module_leader.get_full_name }}</li>
			<li>Semester: {{ object.semester }}</li>
			<li>Delivery Language: {{ object.delivery_language }}</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$(".dropdown-toggle").dropdown();
		});
	</script>
{% endblock %}