{% extends 'core/main.html' %}
{% load core_tags %}

{% block title %}
	{{ module.module_code }}
{% endblock %}

{% block main %}

<!-- Little placeholder navigation to get around -->
<div class="row">
<ul class="nav nav-pills">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Module Description</a>
		<div class="dropdown-menu">
			<a class="dropdown-item active" href="#">Module Description</a>
			<a class="dropdown-item" href="{% url 'view_module_tracking_form' module.module_code %}">Tracking Form</a>
		</div>
	</li>
	{% if not edit_form %}
	<li class="nav-item"><a class="nav-link" href="{% url 'update_module_description' module.module_code %}" >Update Module Description</a></li>
	{% else %}
	<li class="nav-item"><a class="nav-link" href="{% url 'view_module_description' module.module_code %}">Back</a></li>
	{% endif %}
</ul>
</div>

<h2>Module Description Form {% if edit_form %} (Edit Mode) {% else %} (View Mode){% endif %}</h2><hr>
<h6>Module Code: {{ module.module_code }} ({{ module.module_name }})</h6><hr>

{% if not form_exists and not edit_form %}
    There's isnt a description for this module yet. <a href="{% url 'update_module_description' module.module_code %}" >Create one.</a> 
{% else %}
<form action="" method="POST" id="module-description">
{% csrf_token %}

<!-- Hidden fields-->
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

<!-- Modules Details -->
<div class="card">
<div class="card-header" data-toggle="collapse" data-target="#det-collapse" id="det-heading" aria-expanded="true" aria-controls="det-collapse" style="cursor:pointer">
	<h6 class="mb-0">
		Module Details
	</h6>
</div>
<div id="det-collapse" class="collapse show" aria-labelledby="det-heading">
	<div class="card-body">
		<div class="form-row">
			<div class="form-group col-md-2">
				<label>Module Code</label>
				{{details_form.module_code_dummy|add_css_class:"form-control form-control-sm"}}
			</div>
			<div class="form-group col-md-10">
				<label for="{{ details_form.module_name.id_for_label }}">{{details_form.module_name.label}}</label>
				{{details_form.module_name|add_css_class:"form-control form-control-sm"}}
				{{details_form.module_name.errors}}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-1">
				<label for="{{ details_form.module_credits.id_for_label }}">{{details_form.module_credits.label}}</label>
				{{details_form.module_credits|add_css_class:"form-control form-control-sm"}}
				{{details_form.module_credits.errors}}
			</div>
			<div class="form-group col-md-1">
				<label for="{{ details_form.module_level.id_for_label }}">{{details_form.module_level.label}}</label>
				{{details_form.module_level|add_css_class:"form-control form-control-sm"}}
				{{details_form.module_level.errors}}
			</div>
			<div class="form-group col-md-3">
				<label for="{{ details_form.semester.id_for_label }}">{{details_form.semester.label}}</label>
				{{details_form.semester|add_css_class:"form-control form-control-sm"}}
				{{details_form.semester.errors}}
			</div>
			<div class="form-group col-md-3">
				<label for="{{ details_form.delivery_language.id_for_label }}">{{details_form.delivery_language.label}}</label>
				{{details_form.delivery_language|add_css_class:"form-control form-control-sm"}}
				{{details_form.delivery_language.errors}}
			</div>
			<div class="form-group col-md-4">
				<label for="{{ details_form.module_leader.id_for_label }}">{{details_form.module_leader.label}}</label>
				{{details_form.module_leader|add_css_class:"form-control form-control-sm"}}
				{{details_form.module_leader.errors}}
			</div>
		</div>
	</div>
</div>
</div>

<!-- Description form -->
<div class="card">
<div class="card-header" data-toggle="collapse" data-target="#desc-collapse" id="desc-heading" aria-expanded="true" aria-controls="desc-collapse" style="cursor:pointer">
	<h6 class="mb-0">
		Module Description
		{% if new_form_version == True %}
		<!-- When the new_form_version flag is set, we let the user know there is a more recent version -->
		<span class="badge badge-secondary">Old Form Version</span>
		{% endif %}
	</h6>
</div>
<div id="desc-collapse" class="collapse show" aria-labelledby="desc-heading">
	<div class="card-body">
		{% if not form_version_exists %}
		<p>A Module Description form structure has not been defined.</p>
		{% else %}
		{% for field in form.visible_fields %}
		<div class="row">
			<h6>{{ field.label }}</h6>
			{% if field|widget_type == 'RadioSelect' %} 
			</div><div class="row">
				<!-- We render the elements manually if it isn't a textual input/select -->
				<!-- The radio boxes are contained within their own row to avoid inline problems -->
				{% for radio in field %}
				<div class="form-check form-check-inline">
				<label for="{{ radio.id_for_label }}" class="form-check-label">
					{{ radio.tag }} {{ radio.choice_label }}
				</label>
				</div>
				{% endfor %}
			{% else %}
			{{ field }}
			{% endif %}
		</div>
		<br>
		{% endfor %}
		{% endif %}
	</div>
</div>
</div>
{% if edit_form %}
<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br>
{% endif %}
</form>

{% endif %}
{% endblock %}

{% block scripts %}
    {% if not edit_form %}
    <script type="text/javascript">
        $("#module-description :input").attr("disabled", true)
    </script>
    {% endif %}
{% endblock %}