{% extends 'core/main.html' %}
{% load core_tags %}

{% block title %}
	{{ module.module_code }}
{% endblock %}

{% block main %}

<!-- Little placeholder navigation to get around -->
<div class="row">
<ul class="nav nav-pills">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Module Description</a>
		<div class="dropdown-menu">
			<a class="dropdown-item active" href="#">Module Description</a>
			<a class="dropdown-item" href="{% url 'view_module_tracking_form' module.module_code %}">Tracking Form</a>
		</div>
	</li>
	{% if not edit_form %}
	<li class="nav-item"><a class="nav-link" href="{% url 'update_module_description' module.module_code %}" >Update Module Description</a></li>
	{% else %}
	<li class="nav-item"><a class="nav-link" href="{% url 'view_module_description' module.module_code %}">Back</a></li>
	{% endif %}
</ul>
</div>

<h2>Module Description Form {% if edit_form %} (Edit Mode) {% else %} (View Mode){% endif %}</h2><hr>
<h6>Module Code: {{ module.module_code }} ({{ module.module_name }})</h6><hr>

<form action="" method="POST" id="module-description">
{% csrf_token %}

<!-- Hidden fields-->
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

<!-- Main form -->
<div class="card">
	<div class="card-header" data-toggle="collapse" data-target="#desc-collapse" id="desc-heading" aria-expanded="true" aria-controls="desc-collapse" style="cursor:pointer">
		<h6 class="mb-0">
			Description
			{% if new_form_version == True %}
			<!-- When the new_form_version flag is set, we let the user know there is a more recent version -->
			<span class="badge badge-secondary">Old Form Version</span>
			{% endif %}
		</h6>
	</div>
	<div id="desc-collapse" class="collapse show" aria-labelledby="desc-heading">
		<div class="card-body">
			{% for field in form.visible_fields %}
			<div class="row">
				<h6>{{ field.label }}</h6>
				{% if field|widget_type == 'RadioSelect' %} 
				</div><div class="row">
					<!-- We render the elements manually if it isn't a textual input/select -->
					<!-- The radio boxes are contained within their own row to avoid inline problems -->
					{% for radio in field %}
					<div class="form-check form-check-inline">
					<label for="{{ radio.id_for_label }}" class="form-check-label">
						{{ radio.tag }} {{ radio.choice_label }}
					</label>
					</div>
					{% endfor %}
				</div>
				{% else %}
				{{ field }}
				{% endif %}
			</div>
			<br>
			{% endfor %}
		</div>
	</div>
</div>
{% if edit_form %}
<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br>
{% endif %}
</form>

{% endblock %}

{% block scripts %}
    {% if not edit_form %}
    <script type="text/javascript">
        $("#module-description :input").attr("disabled", true)
    </script>
    {% endif %}
{% endblock %}